extends layout

block content
    .container
        h1 About Us
        p Hence, our workforce is our greatest asset. In addition to exceptional technical and innovative problem-solving skills, Supremesoft employees possess a thorough understanding of the challenges and trends within each industry are often called upon to be dedicated advisors on specific verticals.
        ul
            li Mac Info
            li Windows Info
            li ubuntu Info
        p Lastly, our every step of our delivery model is transparent to our client. Supremesoft eliminates risk through a reliable delivery and governance platform. The engagement process is divided into a project launch and project governance phase with each step precisely defined and executed.