body {
  padding-top: 50px;
  
}
.jumbotron{
    background: url(../images/bg.jpg)no-repeat;
}
footer{
    background: #f0ad4e;
    height: 40;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
div.jumbotron div.container h1 {
    color: white;
}
div.jumbotron div.container p {
    color: yellow;
}